:root {
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--beauty-landing-2-c1);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  margin: 96px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
header {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}
.header {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 56px;
}

.hero-section {
  height: 100vh;
  background-image: url(../imagers/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 133px 0 0 0;
  margin: 0;
}

.container-header a {
  text-decoration: none;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;

  padding-left: 200px;
  padding-right: 200px;
}
.icon-container {
  display: flex;
  gap: 32px;
}
.header-icon {
  fill: var(--beauty-landing-2-c1);
}

.container-hero {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-top: 100px;
  margin-left: 100px;
  position: absolute;
}
h3 {
  font-weight: 400;
  margin: 0;
}
h2 {
  font-family: Play;
  font-weight: 700;
  font-size: 64px;
  color: var(--beauty-landing-2-c1);
}
.container-button {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 238px;
  height: 103px;
  margin-top: 40px;
}
.batton {
  color: var(--beauty-landing-2-background);
  background: var(--beauty-landing-2-s2);
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  font-family: 'Roboto';
  transition: color 0.2s;
}
.batton:hover {
  color: var(--beauty-landing-2-c1);
  border: 2px solid var(--beauty-landing-2-s2);
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  background-color: transparent;
}
.record {
  color: var(--beauty-landing-2-c3);
  font-size: 12px;
}

h1 {
  font-weight: 700;
  font-family: Play;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
  padding-top: 40px;
  margin: 0;
}
.beautyzone {
  font-weight: 600;
}
.aboutus-section {
  font-size: 22px;
}

.container-about {
  display: flex;
}
.aboutus-container {
  display: flex;
  max-width: 709px;
  flex-direction: column;
  gap: 40px;
}

.aboutus-image {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.image-first {
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-start;
}
.image-second {
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-end;
}
.star-l {
  fill: var(--beauty-landing-2-c6);
  position: absolute;
  top: 336px;
  right: 300px;
  animation: spinl 2s infinite ease-in-out;
}

@keyframes spinl {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-c6);
  }
  25% {
    fill: var(--beauty-landing-2-c1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.6;
    fill: var(--beauty-landing-2-c6);
  }
  75% {
    fill: var(--beauty-landing-2-s2);
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-c6);
  }
}

.star-m {
  fill: var(--beauty-landing-2-s2);
  position: absolute;
  top: 32px;
  right: 0;
  animation: spinm 2s infinite ease-in-out;
}

@keyframes spinm {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-s2);
  }
  25% {
    fill: var(--beauty-landing-2-c1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.6;
    fill: var(--beauty-landing-2-s2);
  }
  75% {
    fill: var(--beauty-landing-2-c1);
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-s2);
  }
}

.star-s {
  fill: var(--beauty-landing-2-s5);
  position: absolute;
  top: 270px;
  right: 6px;
  animation: spins 2s infinite ease-in-out;
}

@keyframes spins {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-s5);
  }
  25% {
    fill: var(--beauty-landing-2-c3);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.6;
    fill: var(--beauty-landing-2-s5);
  }
  75% {
    fill: var(--beauty-landing-2-c3);
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    fill: var(--beauty-landing-2-s5);
  }
}

ul {
  list-style: none;
}
.link-header {
  color: var(--beauty-landing-2-s2);
  text-align: center;
  transition: color 0.2s;
}
.link-header:hover {
  color: var(--beauty-landing-2-c1);
  text-align: center;
}
.second-title {
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
}

.whywe-container {
  text-align: center;
  margin-top: 176px;
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.cards p {
  font-size: 18px;
  line-height: 1.4;
}

.list-container {
  display: flex;
  gap: 56px;
}
.whywe {
  color: var(--beauty-landing-2-s2);
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--beauty-landing-2-background);
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  line-height: 1.3;
  font-size: 18px;
}
.whywe-icon {
  fill: var(--beauty-landing-2-s2);
}
.procedures-container {
  text-align: center;
  margin-top: 96px;
}
.procedures-card {
  display: flex;
  gap: 16px;
}
.procedures {
  color: var(--beauty-landing-2-s2);
}
.procedures-art p {
  color: var(--beauty-landing-2-background);
  display: flex;
  gap: 16px;
}
.carusel-container {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 48px;
}

.article-mask {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../imagers/image-mask.png);
  transition: transform 0.3s;
}

.article-injections {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../imagers/image-injection.png);
  transition: transform 0.3s;
}
.article-clear {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    ),
    url(../imagers/image-clear.png);
  transition: transform 0.3s;
}
.article-mask:hover,
.article-injections:hover,
.article-clear:hover {
  transform: scale(1.05);
}

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--beauty-landing-2-c1);
  cursor: pointer;
  transition: color 0.2s;
}
.carusel-button.next {
  transform: rotate(180deg);
}
.carusel-arrow {
  fill: var(--beauty-landing-2-c1);
}
.carusel-button:hover {
  background-color: var(--beauty-landing-2-s2);
}

.carusel-button:hover .carusel-arrow {
  fill: var(--beauty-landing-2-background);
}

.find {
  color: var(--beauty-landing-2-s2);
}
.link-footer {
  color: var(--beauty-landing-2-background);
  text-decoration: none;
}

footer {
  background: var(--beauty-landing-2-c1);
  font-size: 16px;
  background-image: url(../imagers/background-footer.png);
  padding: 56px 0;
  position: relative;
}
footer a {
  text-decoration: none;
  fill: var(--beauty-landing-2-background);
}
.address-items {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: left;
  gap: 16px;
  padding: 0;
}
.address-item {
  color: var(--beauty-landing-2-background);
  text-decoration: none;
}
.data {
  color: var(--beauty-landing-2-s5);
}

address {
  font-style: normal;
  display: flex;

  flex-direction: column;

  align-items: flex-start;

  gap: 16px;
}

.find-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-container {
  display: flex;
  gap: 160px;
  text-align: center;
}
.nav-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  width: 203px;
  padding: 0;
}
.footer-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 16px;
}

.footer-icon a {
  margin-right: 16px;
}

.footer-icon a:last-child {
  margin-right: 0;
}

.img-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: auto;
}
.footer-policy {
  white-space: nowrap;
}
